.env
D:\random_py_projects\_ML_\ML_model_deployment_django\first_deployment_project\Credit_Score_Classification\Classification_Credit_Score_.py
D:\random_py_projects\_ML_\ML_model_deployment_django\first_deployment_project\Credit_Score_Classification\Credit_score_classification_jupytrNotebook.py
Credit_Score_Classification_model.sav


D:\random_py_projects\_ML_\ML_model_deployment_django\first_deployment_project\Credit_Score_Classification\train_set_X.pkl
D:\random_py_projects\_ML_\ML_model_deployment_django\first_deployment_project\Credit_Score_Classification\y_last_col.pkl

__pycache__/

D:\random_py_projects\_ML_\ML_model_deployment_django\first_deployment_project\Credit_Score_Classification\__pycache__
D:\random_py_projects\_ML_\ML_model_deployment_django\first_deployment_project\first_deployment_project\__pycache__